@import url("https://fonts.googleapis.com/css?family=Quicksand|Muli|Material+Icons&display=swap");

/* ---------------------------- LAYOUT & THEMES ---------------------------- */

.layout {
  font-family: "Quicksand", "Segoe UI";
  --smallTextSize: 14px;
  --textSize: 16px;
  --mediumTextSize: 18px;
  --titleSize: 19px; /*22px*/
  --textWeight: 300;
  --mediumWeight: 400;
  --titleWeight: 500;
  --titleFont: "Muli", "Arial";
  --smallMargin: 5px;
  --mediumMargin: 15px;
  --largeMargin: 25px;
  --borderSize: 1px;
  --borderRadius: 25px; /* usually 50% of uiElementHeight */
  --uiElementHeight: 50px; /* like buttons height */
  --uiElementSmallHeight: 28px; /* like textBox height */
  --headerHeight: calc(var(--uiElementHeight) + var(--smallMargin) * 2);
  --iconsFontSize: 30px; /* 26px */
}

.defaultTheme {
  --backColor: #3a4151;
  --borderColor: rgb(204, 204, 204);
  --textColor: #949dac;
  --titleColor: #65f0b6;
  --buttonColor: rgb(245, 245, 245);
  --textColorHighlighted: white;
  --importantButtonColor: #3a4151;
  --importantButtonBackColor: #65f0b6;
  --backColorImportantButtonHover: hsl(156, 35%, 50%);
  --headerBackColor: #3a4151;
  --makeDarkerColor: rgba(22, 22, 22, 0.2);
  --alertColor: #f06b65;
}

.darkTheme {
  --backColor: #1d1d1b; /*#1f1f1e*/ /* 292827 */
  --borderColor: rgb(204, 204, 204);
  --textColor: #a2a099;
  --titleColor: #3cf17e; /*#a3f7bf*/
  --buttonColor: rgb(245, 245, 245);
  --textColorHighlighted: white;
  --importantButtonColor: #1d1d1b;
  --importantButtonBackColor: #3cf17e; /*#a3f7bf*/
  --backColorImportantButtonHover: #32804d; /*hsl(140, 34%, 60%)*/
  --headerBackColor: #1d1d1b;
  --makeDarkerColor: rgba(100, 100, 100, 0.3);
  --alertColor: #f14b4b; /*#f06b65*/
}

.boardStandardTheme {
  --blackColor: rgb(121, 92, 69);
  --whiteColor: rgb(204, 178, 95);
}

.layout_low_vision {
  font-family: "Quicksand", "Segoe UI";
  --smallTextSize: 24px;
  --textSize: 24px;
  --mediumTextSize: 24px;
  --titleSize: 27px;
  --textWeight: 500;
  --mediumWeight: 500;
  --titleWeight: 500;
  --titleFont: "Muli", "Arial";
  --smallMargin: 5px;
  --mediumMargin: 15px;
  --largeMargin: 25px;
  --borderSize: 1px;
  --borderRadius: 25px;
  --uiElementHeight: 50px;
  --uiElementSmallHeight: 28px;
  --headerHeight: 70px;
  --iconsFontSize: 40px;
}

/* ---------------------------- CONTAINERS ---------------------------- */

@media not print{
  html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Disables pull-to-refresh but allows overscroll glow effects. */
    /*overscroll-behavior-y: contain;*/
  }
  
  #root {
    display: grid;
    /* SIZE */
    width: 100%;
    height: 100%;
    /* SPACES */
    padding: var(--largeMargin);
  }
}

#App {
  /* GRID */
  display: grid;
  grid-template-areas: "header" "page";
  grid-template-rows: var(--headerHeight) 1fr;
  /* SIZE */
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* COLORS */
  background-color: var(--backColor);
  /* TEXT */
  color: var(--textColor);
  font-weight: var(--textWeight);
  font-size: var(--textSize);
  /* no selction */
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  outline-style: none; /* Internet Explorer  */
}

.page {
  /* GRID */
  grid-area: page;
}

@media (pointer: coarse) { /* touch screen */
  ::-webkit-scrollbar
  {
    width: 6px;  /* for vertical scrollbars */
    height: 6px; /* for horizontal scrollbars */
  }
}

@media (pointer: fine), (pointer: none) { /* mouse input */
  ::-webkit-scrollbar
  {
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
  }
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* ---------------------------- TEXT LABELS ---------------------------- */

@media not print{

  body{
    background-color: #1d1d1b;
  }

  h1 {
    /* TEXT */
    color: var(--titleColor);
    font-family: var(--titleFont);
    font-weight: var(--titleWeight);
    font-size: var(--titleSize); /* --titleSize */
    letter-spacing: 0.5px;
    /* SPACES */
    margin-top: auto;
    margin-bottom: auto;
    margin-left: var(--smallMargin);
    margin-right: var(--smallMargin);
  }
  
  h2 {
    /* TEXT */
    color: var(--textColorHighlighted);
    font-weight: var(--mediumWeight);
    font-size: var(--mediumTextSize);
    /* SPACES */
    margin-top: var(--smallMargin);
    margin-bottom: var(--smallMargin);
    margin-left: var(--mediumMargin);
    margin-right: var(--mediumMargin);
  }
  
  p {
    /* TEXT */
    color: var(--textColor);
    font-weight: var(--textWeight);
    font-size: var(--textSize);
    /* SPACES */
    margin-top: var(--smallMargin);
    margin-bottom: var(--smallMargin);
    margin-left: var(--mediumMargin);
    margin-right: var(--mediumMargin);
  }
  
  .alertText{
    color: var(--alertColor);
  }
  
  .smallText{
    font-size: var(--smallTextSize);
  }

  #contentPDF{
    display: none;
  }
}

/* ---------------------------- PRINT ---------------------------- */

@media print{

  #App{
    display: none;
  }
  
  @page{ 
      size: auto;   /* auto is the initial value */ 
      /* this affects the margin in the printer settings */ 
      margin: 20mm 20mm 20mm 20mm;  
  }

  #sheet {
    column-count: 2;
    height: 100%;
  }

  #sheet p{
    text-align: justify;
  }

  /*#sheet .lineMoves{
    font-weight: bold;
  }*/

  #sheet .boardContainerPDF{
    width: 100%;
    text-align: center;
  }

  #sheet .boardGridPDF{
    position: relative;
  }

  #sheet .boardSVG_PDF{
    width: 60mm;
  }

  #sheet .piecePDF{
    position: absolute;
    width: calc(60mm / 8);
  }

  #sheet #watermarkPDF{
    font-size: 10px;
    text-align: right;
  }

  #sheet .inlineCommentPDF{
    font-weight: normal;
  }
} 

/* ---------------------------- BUTTONS ---------------------------- */

button {
  outline: none;
}

a {
  outline: none;
}

input {
  outline: none;
}

.iconText{
  font-family: "Material Icons";
  font-size: var(--iconsFontSize) !important;
  text-align: center;
  vertical-align: middle;
  line-height: var(--uiElementHeight); /* = height*/
  margin: 0px;
}

.iconButton {
  /* SIZE */
  height: var(--uiElementHeight);
  min-width: var(--uiElementHeight);
  /* TEXT */
  color: var(--buttonColor);
  font-family: "Material Icons";
  font-size: var(--iconsFontSize);
  text-align: center;
  vertical-align: middle;
  line-height: var(--uiElementHeight); /* = height*/
  /* COLORS */
  background-color: transparent;
  /* BORDERS */
  border: 0px;
  border-radius: var(--borderRadius);
  /* SPACES */
  margin-top: var(--smallMargin);
  margin-bottom: var(--smallMargin);
  margin-left: var(--mediumMargin);
  margin-right: var(--mediumMargin);
  padding: 0px;
  /* TRANSITIONS */
  transition-property: all;
  transition-duration: 50ms;
  transition-timing-function: cubic-bezier(0.3, 0, 0.7, 1);
  transition-delay: 0s;
}

.iconButton:hover {
  /* COLORS */
  background-color: var(--makeDarkerColor);
}

button.importantButton {
  /* SIZE */
  height: var(--uiElementHeight);
  border-radius: var(--borderRadius);
  border: 0px;
  /* TEXT */
  color: var(--importantButtonColor);
  font-weight: var(--textWeight);
  font-size: var(--mediumTextSize);
  /* COLORS */
  background-color: var(--importantButtonBackColor);
  /* SPACES */
  margin-top: var(--smallMargin);
  margin-bottom: var(--smallMargin);
  margin-left: var(--mediumMargin);
  margin-right: var(--mediumMargin);
  padding: 0px;
  padding-left: var(--largeMargin);
  padding-right: var(--largeMargin);
  /* TRANSITIONS */
  transition-property: all;
  transition-duration: 50ms;
  transition-timing-function: cubic-bezier(0.3, 0, 0.7, 1);
  transition-delay: 0s;
  /* SHADOWS */
  -moz-box-shadow: 2px 3px 4px rgba(0, 0, 0,0.25);
  -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, .25);
  box-shadow: 2px 3px 4px rgba(0, 0, 0, .25);
}

button.importantButton:hover:enabled {
  /* COLORS */
  background-color: var(--backColorImportantButtonHover);
  /* TEXT */
  text-align: center;
  /* SHADOWS */
  -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0,0.15);
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, .15);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, .15);
}

button.simpleButton{
  /* SIZE */
  height: var(--uiElementHeight);
  min-width: var(--uiElementHeight);
  /* TEXT */
  color: var(--buttonColor);
  /*font-family: inherit;*/
  font-size: var(--textSize);
  text-align: center;
  vertical-align: middle;
  line-height: var(--uiElementHeight); /* = height*/
  /* COLORS */
  background-color: transparent;
  /* BORDERS */
  border: 0px;
  border-radius: 0px;
  /* SPACES */
  margin-top: var(--smallMargin);
  margin-bottom: var(--smallMargin);
  margin-left: var(--smallMargin);
  margin-right: var(--smallMargin);
  padding-left: var(--mediumMargin);
  padding-right: var(--mediumMargin);
  /* TRANSITIONS */
  transition-property: all;
  transition-duration: 50ms;
  transition-timing-function: cubic-bezier(0.3, 0, 0.7, 1);
  transition-delay: 0s;
}

button.simpleButton:hover:enabled {
  /* COLORS */
  background-color: var(--makeDarkerColor);
}

/* OTHERS */
a {
  text-decoration: none;
  color: inherit;
}

.opItem,
.variItem {
  cursor: pointer;
  /* SPACES */
  padding-top: var(--smallMargin);
  padding-bottom: var(--smallMargin);
  border-style: solid;
  border-left-width: var(--smallMargin);
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-left-color: transparent;
  -webkit-tap-highlight-color: var(--makeDarkerColor);
}

.opItem:hover,
.variItem:hover {
  background-color: var(--makeDarkerColor);
}

.variItem{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-template-areas: "checkbox content";
}

.variItemCheckbox{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: calc(var(--mediumMargin) - 5px); /* 5px = favorite bar */
  margin-right: 0;
  vertical-align: middle;
  overflow: hidden;
  grid-area: checkbox;
  width: var(--iconsFontSize);
}

.variItemContent{
  grid-area: content;
}

.chessText{
  font-family: "Segoe UI Symbol" , Arial, Helvetica, sans-serif;
}