@import url("https://fonts.googleapis.com/css?family=Material+Icons&display=swap");

@font-face {
  font-family: chess;
  src: url('https://lichess1.org/assets/_mt2ils/font/lichess.chess.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url('/files/inter.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

/* ---------------------------- LAYOUT & THEMES ---------------------------- */

.layout {
  font-family: "Inter", "Helvetica", "Roboto", "Open Sans", sans-serif;
  --textFont: "Inter", "Helvetica", "Roboto", "Open Sans", sans-serif;
  --titleFont: "Inter", "Helvetica", "Roboto", "Open Sans", sans-serif;

  --smallTextSize: 13px;
  --textSize: 14px;
  --bigTextSize: 15px;
  --titleSize: 16px;
  --iconsFontSize: 24px;

  --thinWeight: 300;
  --textWeight: 400;
  --mediumWeight: 500;
  --titleWeight: 600;
  
  --smallMargin: 5px;
  --mediumMargin: 15px;
  --largeMargin: 25px;

  --borderSize: 1px;
  --borderRadius: 4px;

  --uiElementHeight: 50px; /* like buttons height */
  --uiElementMediumHeight: 40px; /* like wide buttons height */
  --uiElementSmallHeight: 28px; /* like textBox height */

  /*--headerHeight: calc(var(--uiElementHeight) + var(--smallMargin) * 2);*/
  --headerHeight: calc(var(--uiElementMediumHeight) + var(--smallMargin) * 2);
}

@media (max-height: 600px) {
  .layout {
    --headerHeight: 32px;
  }
}

.lightTheme {
  --main: #41d0a1;
  --hoverMain: #39c294;
  --alert: #f14b4b;
  --hoverAlert: #b63737;
  --arrow: #41d0a1;
  --ripple: rgb(255 255 255/10%);
  --tap: rgb(144 144 144/25%);
  --shadow: #2f4f601c;
  --shadowBlur: 10px;
  --shadowShift: 5px;
  --back: #f5f8f9;
  --hoverBack: #eee;
  --onBack: #d5d5d5;
  --headerBack: var(--back);
  --text: #3e3e3e;
  --title: #162528;
  --clickText: #333232;
  --disabledClickText: #646464;
  --disabledButtonText: #646464;
  --cardBack: #fbfeff;
  --hoverCard: #ecf1f7;
  --onCardBack: #7f9199;
  --modalBack: #fafbfc;
  --hoverModalBack: #e9edf0;
  --onModalBack: #eee;
  --cardButtonsBack: #fff;
  --cardButtonsHover: #f7f7f7;
  --hoverBookTable: rgb(226, 226, 226);
  --winrateBarBorderColor: black;
  --textBoxBack: #eee;
}

.darkTheme, .autoTheme {
  --main: #43ce76;
  --hoverMain: #31b862;
  --alert: #f14b4b;
  --hoverAlert: #b63737;
  --arrow: #43ce76;
  --ripple: rgb(255 255 255 / 10%);
  --tap: rgb(144 144 144 / 25%);
  --shadow: rgba(0, 0, 0, 0);
  --shadowBlur: 0px;
  --shadowShift: 0px;
  --back: #030304; /* #000000 */
  --hoverBack: #0e0e0e;
  --onBack: #1d1d1d;
  --headerBack: var(--back);
  --text: #c7c7c7;
  --title: #ffffff;
  --clickText: #ffffff;
  --disabledClickText: #646464;
  --disabledButtonText: #646464;
  --cardBack: #1b1b1b;
  --hoverCard: #232323;
  --onCardBack: #525151;
  --modalBack: #191919;
  --hoverModalBack: #1f1f1f;
  --onModalBack: #252525;
  --cardButtonsBack: #252525;
  --cardButtonsHover: #2c2c2c;
  --hoverBookTable: #1d1d1d;
  --winrateBarBorderColor: white;
  --textBoxBack: #252525;
}

@media (prefers-color-scheme: light) {
  .autoTheme {
    --main: #41d0a1;
    --hoverMain: #39c294;
    --alert: #f14b4b;
    --hoverAlert: #b63737;
    --arrow: #41d0a1;
    --ripple: rgb(255 255 255/10%);
    --tap: rgb(144 144 144/25%);
    --shadow: #2f4f601c;
    --shadowBlur: 10px;
    --shadowShift: 5px;
    --back: #f5f8f9;
    --hoverBack: #eee;
    --onBack: #d5d5d5;
    --headerBack: var(--back);
    --text: #3e3e3e;
    --title: #162528;
    --clickText: #333232;
    --disabledClickText: #646464;
    --disabledButtonText: #646464;
    --cardBack: #fbfeff;
    --hoverCard: #ecf1f7;
    --onCardBack: #7f9199;
    --modalBack: #fafbfc;
    --hoverModalBack: #e9edf0;
    --onModalBack: #eee;
    --cardButtonsBack: #fff;
    --cardButtonsHover: #f7f7f7;
    --hoverBookTable: rgb(226, 226, 226);
    --winrateBarBorderColor: black;
    --textBoxBack: #eee;
  }
}

/* ---------------------------- CONTAINERS ---------------------------- */

@media not print{
  html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Disables pull-to-refresh but allows overscroll glow effects. */
    /*overscroll-behavior-y: contain;*/
    touch-action: pan-x, pan-y;
  }
  
  #root {
    display: grid;
    /* SIZE */
    width: 100%;
    height: 100%;
    /* SPACES */
    padding: var(--largeMargin);
  }
}

#App {
  /* GRID */
  display: grid;
  grid-template-areas: "header" "page";
  grid-template-rows: var(--headerHeight) 1fr;
  /* SIZE */
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* COLORS */
  background-color: var(--back);
  /* TEXT */
  color: var(--text);
  font-weight: var(--textWeight);
  font-size: var(--textSize);
  /* no selction */
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  outline-style: none; /* Internet Explorer  */
}

.page {
  /* GRID */
  grid-area: page;
}

.page::after, .fadein::after {
  content: "";
  width: 100vw;
  height: 100vh;
  opacity: 0;
  animation-name: disolve;
  animation-duration: 0.15s;
  animation-iteration-count: 1;
  background-color: var(--back);
  position:absolute;
  top: 0px;
  left: 0px;
  z-index: 999999999;
  pointer-events: none;
}

@keyframes disolve {
  from {opacity: 1;}
  to {opacity: 0;}
}

@media (pointer: coarse) { /* touch screen */
  ::-webkit-scrollbar
  {
    width: 4px;  /* for vertical scrollbars */
    height: 4px; /* for horizontal scrollbars */
  }
}

@media (pointer: fine), (pointer: none) { /* mouse input */
  ::-webkit-scrollbar
  {
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
  }
}

::-webkit-scrollbar-track
{
  background: transparent;
}

::-webkit-scrollbar-thumb
{
  background: rgba(100, 100, 100, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(130, 130, 130, 0.3);
}

/* ---------------------------- TEXT LABELS ---------------------------- */

@media not print{

  body{
    background-color: var(--back);
    -webkit-tap-highlight-color: var(--tap);
  }

  h1 {
    /* TEXT */
    color: var(--title);
    font-family: var(--titleFont);
    font-weight: var(--titleWeight);
    font-size: var(--titleSize);
    /* SPACES */
    margin-top: auto;
    margin-bottom: auto;
    margin-left: var(--smallMargin);
    margin-right: var(--smallMargin);
  }
  
  h2 {
    /* TEXT */
    color: var(--title);
    font-family: var(--titleFont);
    font-weight: var(--titleWeight);
    font-size: var(--textSize);
    letter-spacing: 0.03em !important;
    /* SPACES */
    margin-top: var(--smallMargin);
    margin-bottom: var(--smallMargin);
    margin-left: var(--mediumMargin);
    margin-right: var(--mediumMargin);
  }

  h3{
    /* TEXT */
    font-family: var(--titleFont);
    font-size: var(--smallTextSize);
    letter-spacing: 0.5px;
    /* SPACES */
    margin-top: var(--smallMargin);
    margin-bottom: var(--smallMargin);
    margin-left: var(--mediumMargin);
    margin-right: var(--mediumMargin);
  }
  
  p {
    /* TEXT */
    color: var(--text);
    font-family: var(--textFont);
    font-weight: var(--textWeight);
    font-size: var(--textSize);
    /* SPACES */
    margin-top: var(--smallMargin);
    margin-bottom: var(--smallMargin);
    margin-left: var(--mediumMargin);
    margin-right: var(--mediumMargin);
  }

  button {
    /* TEXT */
    color: var(--text);
    font-family: var(--textFont);
    font-weight: var(--textWeight);
    font-size: var(--textSize);
  }

  hr {
    width: calc(100% - var(--mediumMargin)*2);
    border: 0px;
    border-top: 1px solid var(--onBack);
    margin-left: var(--mediumMargin);
    margin-right: var(--mediumMargin);
    margin-top: -1px;
    margin-bottom: -1px;
    pointer-events: none;
  }
  
  .alertText{
    color: var(--alert);
  }
  
  .smallText{
    font-size: var(--smallTextSize);
  }

  #contentPDF{
    display: none;
  }
}

/* ---------------------------- BUTTONS ---------------------------- */

button {
  outline: none;
  cursor: pointer;
}

a {
  outline: none;
}

input {
  outline: none;
}

.iconText{
  font-family: "Material Icons";
  font-size: var(--iconsFontSize) !important;
  text-align: center;
  vertical-align: middle;
  line-height: var(--uiElementHeight); /* = height*/
  margin: 0px;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.iconButton {
  /* SIZE */
  height: var(--uiElementHeight);
  min-width: var(--uiElementHeight);
  /* TEXT */
  color: var(--clickText);
  font-family: "Material Icons";
  font-size: var(--iconsFontSize);
  text-align: center;
  vertical-align: middle;
  line-height: var(--uiElementHeight); /* = height*/
  /* COLORS */
  background-color: transparent;
  -webkit-tap-highlight-color: var(--tap);
  /* BORDERS */
  border: 0px;
  border-radius: calc(var(--uiElementHeight) / 2);
  /* SPACES */
  margin-top: var(--smallMargin);
  margin-bottom: var(--smallMargin);
  margin-left: var(--mediumMargin);
  margin-right: var(--mediumMargin);
  padding: 0px;
  /* TRANSITIONS */
  transition-property: background-color;
  transition-duration: 50ms;
  transition-timing-function: cubic-bezier(0.3, 0, 0.7, 1);
  transition-delay: 0s;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button.roundButton {
  /* SIZE */
  height: var(--uiElementHeight);
  border-radius: calc(var(--uiElementHeight) / 2);
  border: 0px;
  /* TEXT */
  font-weight: var(--textWeight);
  font-size: var(--bigTextSize);
  /* SPACES */
  margin-top: var(--smallMargin);
  margin-bottom: var(--smallMargin);
  margin-left: var(--mediumMargin);
  margin-right: var(--mediumMargin);
  padding: 0px;
  padding-left: var(--largeMargin);
  padding-right: var(--largeMargin);
  /* TRANSITIONS */
  transition-property: all;
  transition-duration: 50ms;
  transition-timing-function: cubic-bezier(0.3, 0, 0.7, 1);
  transition-delay: 0s;
  /* SHADOWS */
  -moz-box-shadow: var(--shadowShift) var(--shadowShift) var(--shadowBlur) var(--shadow);
  -webkit-box-shadow: var(--shadowShift) var(--shadowShift) var(--shadowBlur) var(--shadow);
  box-shadow: var(--shadowShift) var(--shadowShift) var(--shadowBlur) var(--shadow);
}

button.simpleButton{
  /* SIZE */
  height: var(--uiElementHeight);
  min-width: var(--uiElementHeight);
  /* TEXT */
  color: var(--clickText);
  /*font-family: inherit;*/
  font-size: var(--textSize);
  text-align: center;
  vertical-align: middle;
  line-height: var(--uiElementHeight); /* = height*/
  /* COLORS */
  background-color: transparent;
  -webkit-tap-highlight-color: var(--tap);
  /* BORDERS */
  border: 0px;
  border-radius: 0px;
  /* SPACES */
  /*margin-top: var(--smallMargin);*/
  /*margin-bottom: var(--smallMargin);*/
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: var(--smallMargin);
  margin-right: var(--smallMargin);
  padding-left: var(--mediumMargin);
  padding-right: var(--mediumMargin);
  /* TRANSITIONS */
  /*transition-property: background-color;
  transition-duration: 50ms;
  transition-timing-function: cubic-bezier(0.3, 0, 0.7, 1);
  transition-delay: 0s;*/
}

.barButton{
  position: absolute;
  
  width: calc(100% - 2*var(--mediumMargin));
  min-width: var(--uiElementHeight);
  max-width: 400px;

  left:0;
  right:0;
  margin-left: auto;
  margin-right:auto;
  /*margin-left: var(--mediumMargin);
  margin-right: var(--mediumMargin);*/
  margin-top: var(--smallMargin);
  margin-bottom: 0px;

  height: var(--uiElementMediumHeight);
  line-height: var(--uiElementMediumHeight); /* = height*/

  -moz-box-shadow: var(--shadowShift) var(--shadowShift) var(--shadowBlur) var(--shadow);
  -webkit-box-shadow: var(--shadowShift) var(--shadowShift) var(--shadowBlur) var(--shadow);
  box-shadow: var(--shadowShift) var(--shadowShift) var(--shadowBlur) var(--shadow);

  -webkit-tap-highlight-color: var(--tap);

  border: 0px;
  border-radius: var(--borderRadius);
  
  color: var(--clickText);
  font-family: var(--textFont);
  font-weight: bold;
  font-size: var(--textSize);
}


button:disabled, button[disabled]{
  color: var(--disabledClickText);
  background-color: var(--onBack);
}

button.alertButton{
  background-color: var(--alert) !important;
  color: var(--back) !important;
}

button.impButton{
  background-color: var(--main);
  color: var(--back);
}

button.impButton:disabled, button.impButton[disabled]{
  color: var(--disabledButtonText);
  background-color: var(--onBack);
  cursor: default;
}

button.simpleButton:disabled, button.simpleButton[disabled]{
  color: var(--disabledClickText) !important;
  background-color: transparent !important;
  cursor: default;
}

/* OTHERS */
a {
  text-decoration: none;
  color: inherit;
}

.opItem, .variItem {
  display: grid !important;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto;

  cursor: pointer;
  /* SPACES */
  padding-top: var(--smallMargin);
  padding-bottom: var(--smallMargin);
  border-style: solid;
  border-left-width: 0px; /*var(--smallMargin);*/
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-left-color: transparent;
  -webkit-tap-highlight-color: var(--tap);

  position: relative;
}

.variItemMenu{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--cardBack);
  display: flex;
  width: 100%;
  box-sizing: border-box;
  min-height: 100%;
  min-width: 100%;
  align-items: center;
  /* justify-content: center; */
  /* padding-left: var(--mediumMargin); */
  outline: none;
  -webkit-tap-highlight-color: var(--tap);

  transition: opacity 0.2s linear;
  will-change: opacity;
}

.variItemMenuClosed{
  opacity: 0;
  pointer-events: none;
}

.variItemMenuIcon {
  margin-right: var(--mediumMargin);
}

@supports (backdrop-filter: none) {
  .variItemMenuOpened{
    opacity: 1;
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    background-color: rgba(var(--cardBack), 0.05); /* rgba(0, 0, 0, 0.05) */
  }
}

@supports not (backdrop-filter: none) {
  .variItemMenuOpened{
    opacity: 1;
    background-color: var(--hoverModalBack);
  }
}


.variItemMenuButton{
  padding-left: var(--smallMargin);
  padding-right: var(--smallMargin);
  color: var(--title);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  /* border-right: var(--borderSize) solid var(--onModalBack); */
  line-height: 100%;
  display: inline-flex;
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.variItemMenuButton:last-child{
  border-right: 0px;
}

.variItemMenuLabel{
  margin-left: var(--smallMargin);
  margin-right: var(--smallMargin);
  font-size: var(--smallTextSize);
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontalLine{
  content: "";
  margin-left: var(--mediumMargin);
  margin-right: var(--mediumMargin);
  height: 0px;
  border-bottom: 1px solid var(--onBack);
  margin-top: -1px;
  /*display: none;*/
}

.variItemContent{
  grid-area: content;
}

.variItemContent h2{
  color: var(--text);
}

.variItemContent h2 span{
  color: var(--title);
}

.variItemContent p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.variItemText {
  overflow: hidden;
}

.opItemButton{
  color: var(--onCardBack); /* --onBack */
}
.variItemButton{
  color: var(--onCardBack);
}
.opItemButton, .variItemButton{
  display: flex;
  align-items: center;
  line-height: 100%;
  height: 100%;
}

.visualChessNotationTrue .chessText{
  font-family: chess, sans-serif;
}

.impText{
  color: var(--main);
}

.react-ripples s{
  background-color: var(--ripple) !important;
  will-change: opacity, transform, top, left;
}

.optionButtonsContainer .simpleButton {
  height: var(--uiElementMediumHeight);
  line-height: var(--uiElementMediumHeight);
}

@media (hover: hover) {
  .opItem:hover{
    background-color: var(--hoverBack);
  }
  .variItem:hover {
    background-color: var(--hoverCard);
  }
  .iconButton:hover {
    /* COLORS */
    background-color: var(--hoverBack);
  }
  button.roundButton:hover:enabled {
    /* TEXT */
    text-align: center;
    /* SHADOWS */
    -moz-box-shadow: var(--shadowShift) var(--shadowShift) var(--shadowBlur) var(--shadow);
    -webkit-box-shadow: var(--shadowShift) var(--shadowShift) var(--shadowBlur) var(--shadow);
    box-shadow: var(--shadowShift) var(--shadowShift) var(--shadowBlur) var(--shadow);
  }
  button.simpleButton:hover:enabled {
    /* COLORS */
    background-color: var(--hoverBack);
  }
  button.alertButton:hover:enabled{
    background-color: var(--hoverAlert) !important;
  }
  button.impButton:hover:enabled{
    background-color: var(--hoverMain);
  }
}