
#boardContainer {
    position: relative; /* necessary for the pieces */
    grid-area: boardContainer;
    margin-bottom: -4px;

}

#boardSVG {
  width: 100%;
  /*
  max-height: calc(100vh - var(--headerHeight) - var(--uiElementHeight) - 80px);
  max-width: calc(100vh - var(--headerHeight) - var(--uiElementHeight) - 80px);
  */
  border-radius: var(--borderRadius);
}

#touchCircle {
  width: 17.67766953%;
  height: 17.67766953%;
  margin: 0px;
  position: absolute;
  will-change: transform;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.selection {
  width: 12.5%;
  position: absolute;
  opacity: 0.6;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.pieceSVG {
  width: 12.5%;
  position: absolute;
  transition-property: transform, top, left;
  transition: 0.15s, 0.15s, 0.15s;
  will-change: transform, top, left;
  left: 0px;
  top: 0px;
}

.pieceSVG.noAnimationPiece{
  -webkit-transition-property: none !important;
  -moz-transition-property: none !important;
  -o-transition-property: none !important;
  transition-property: none !important;
  z-index: 2;
}

.pieceSVG.staticPiece{
  left: 0px !important;
  top: 0px !important;
}

.pieceSVG[draggable="false"] {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@media (max-width: 105vh) {
  #boardGrid{
    display: grid;
    width: 100%;
    height:  calc(100vh - var(--headerHeight));
    max-width: calc(100vh - var(--headerHeight) - var(--uiElementMediumHeight) - 80px);
    grid-template-rows: auto 1fr var(--uiElementMediumHeight); /*  auto var(--uiElementMediumHeight) 1fr */
    grid-template-areas: "boardContainer" "boardData" "boardUI"; /* "boardContainer" "boardUI" "boardData" */
  }
}

@media (min-width: 105vh) and (max-width: 133vh) {
  #boardGrid{
    display: grid;
    width: 100%;
    height: calc(100vh - var(--headerHeight));
    grid-template-rows: 1fr var(--uiElementMediumHeight);
    grid-template-columns: calc(100vh - var(--headerHeight) - var(--uiElementMediumHeight)) 1fr;
    grid-template-areas: "boardContainer boardData" "boardUI boardData";
  }
}

@media (min-width: 133vh) {
  #boardGrid{
    display: grid;
    width: 100%;
    height: calc(100vh - var(--headerHeight));
    grid-template-rows: 1fr var(--uiElementMediumHeight);
    grid-template-columns: calc(100vh - var(--headerHeight)) 1fr;
    grid-template-areas: "boardContainer boardData" "boardContainer boardUI";

    /*grid-template-columns: calc(100vh - var(--headerHeight) - var(--uiElementMediumHeight)) 1fr;*/
    /*grid-template-areas: "boardContainer boardData" "boardUI boardData";*/
  }
}

@media (min-width: 1200px) and (min-height: 800px) {
  #boardContainer{
    width: 95%;
    height: 95%;
    margin-left: 2.5%;
    margin-top: min(1%, var(--smallMargin));
  }
}

#boardUI{
  min-height: var(--uiElementMediumHeight);
  width: 100%;
  /*background-color: rgba(0, 0, 0, 0.15); add to make the gap between boardContainer and boardUI visible*/
  grid-area: boardUI;
  display: flex;
}

#boardData{
  grid-area: boardData;
  overflow-y: hidden;
  display: grid;
  grid-template-rows: 0px 1fr;
}

#boardDataSwipe{
  overflow-y: hidden;
}

.boardDataSlide{
  padding: var(--mediumMargin);
  padding-top: var(--smallMargin);
  overflow-y: auto;
  box-sizing: border-box;
}

#boardDataSwipe div, #boardDataSwipe div .react-swipeable-view-container{
  height: 100%;
}

#movesTree{
  height: auto !important;
}


#boardDataCommentSlide{
  height: 100%;
  box-sizing: border-box;
  font-size: var(--smallTextSize);
  white-space: pre-wrap;
  cursor: pointer;
  -webkit-tap-highlight-color: var(--tap);
}

.boardButton{
  margin: 0px !important; /* overwrite simpleButton */
  flex-grow: 1;
  /* TEXT */
  font-family: "Material Icons" !important; /* overwrite simpleButton */
  font-size: var(--iconsFontSize) !important; /* overwrite simpleButton */
  text-align: center;
  vertical-align: middle;
  line-height: var(--uiElementMediumHeight) !important; /* = height*/
  height: var(--uiElementMediumHeight) !important;
}

#boardDataTabIconsContainer{
  height: fit-content;
  z-index: 2;
  pointer-events: none;
}

#boardDataTabIconsInnerContainer{    
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--smallMargin);
  padding-right: var(--smallMargin);
  padding-top: 1px;
  background-color: var(--onBack);
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  pointer-events: all;
}

.boardDataTabIcon{
  font-size: var(--smallTextSize);
  font-family: "Material Icons";
  display: inline-block;
  background-color: var(--backColor);
  margin-left: 2px;
  cursor: pointer;
}

#arrows_svg{
  position: absolute;
}