/* here you find the css attached to the elements mostly by their id */

#home_button {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0px;
  margin-left: var(--smallMargin);
  height: var(--headerHeight);
}

#opsListPage, #openingPage {
  overflow-y: auto;
  overflow-x: hidden;
}

#opsListPage{
  padding-bottom: calc(var(--uiElementHeight) + var(--mediumMargin) + var(--smallMargin));
}

#openingPage{
  padding-bottom: calc(2*var(--uiElementHeight) + 2*var(--mediumMargin) + var(--smallMargin));
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: max-content;
}

#newOpButton, #newVariButton {
  position: absolute;
  margin: 0px;
  padding: 0px;
  right: var(--mediumMargin);
  bottom: var(--mediumMargin);
  height: var(--uiElementHeight);
  width: var(--uiElementHeight);
  text-align: center;
  line-height: var(--uiElementHeight);
  font-size: var(--iconsFontSize); /* var(--30px) */
}

.textBox{
  margin-top: var(--smallMargin);
  padding-left: 10px;
  border: 0px;

  height: var(--uiElementSmallHeight);
  width: calc(100% - 10px); /* 10px = padding-left; */
  /* max-width: 400px; */

  background-color: var(--onBack);
  color: var(--title);
  font-size: var(--textSize);
  font-family: inherit;
  /* border-radius: var(--borderRadius); */

  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
  border-bottom: 2px solid var(--main);
}

.checkBox{
  height: var(--uiElementSmallHeight);
  line-height: var(--uiElementSmallHeight);
  font-family: "Material Icons";
  font-size: var(--iconsFontSize);
  color: var(--main);
}

.checkBox.checked{
  background-color: var(--title);
}

.checkBoxContainer{
  display: flex;
  margin-top: var(--smallMargin);
  margin-bottom: var(--smallMargin);
  height: var(--uiElementSmallHeight) !important;
  line-height: var(--uiElementSmallHeight);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}


#newOpPageBody, #loginPageBody{
  margin-left: var(--mediumMargin);
  margin-right: var(--mediumMargin);
}


#headerChessTutorLabel {
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: 23px;
  margin-left: 0px;
  font-size: 15px;
}

#header{
  /* GRID */
  grid-area: header;
  /* COLORS */
  background-color: var(--headerBack);
  /* CONTENT */
  vertical-align: middle;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "headerLeftSide headerRightSide";
}

#headerButton{
  margin-top: calc((var(--headerHeight) - var(--uiElementHeight)) / 2); /* this shouldn't be necessary because the header has vertical-align: middle but really it's needed*/
  margin-right: calc((var(--headerHeight) - var(--uiElementHeight)) / 2);
}

#headerLeftSide{
  grid-area: headerLeftSide;
  display: -webkit-flex; /* Safari */
  display: flex;
}

#headerRightSide{
  grid-area: headerRightSide;
}

/*#playVarsButton {
  position: absolute;
  margin: 0px;
  padding: 0px;
  right: var(--mediumMargin);
  bottom: calc(var(--uiElementHeight) + 2 * var(--mediumMargin));
  height: var(--uiElementHeight);
  width: var(--uiElementHeight);
  text-align: center;
  line-height: var(--uiElementHeight);
  font-size: var(--iconsFontSize);
}*/

#playVarsButton {
  position: absolute;
  margin: 0px;
  padding: 0px;
  right: var(--mediumMargin);
  bottom: var(--mediumMargin);
  height: var(--uiElementHeight);
  width: var(--uiElementHeight);
  text-align: center;
  line-height: var(--uiElementHeight);
  font-size: var(--iconsFontSize);
}

#title{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.variationFolder{
  background-color: var(--cardBack);
  border-radius: var(--borderRadius);
  margin: var(--mediumMargin);
  /* overflow: hidden; */

  -moz-box-shadow: var(--shadowShift) var(--shadowShift) var(--shadowBlur) var(--shadow);
  -webkit-box-shadow: var(--shadowShift) var(--shadowShift) var(--shadowBlur) var(--shadow);
  box-shadow: var(--shadowShift) var(--shadowShift) var(--shadowBlur) var(--shadow);

  display: grid;
  grid-template-rows: auto auto 1fr;
}

.variationTitle, .variationTitleArchived{
  width: 100%;

  height: var(--uiElementMediumHeight);
  line-height: var(--uiElementMediumHeight);

  margin: 0px;
  /*border-top: solid 1px var(--hoverBackColor);*/

  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;

  display: flex;
  align-items: center;

  line-height: 1;
}

.variationTitle{
  /* color: var(--cardBack); */
  /* background-color: var(--main); */
  padding-left: 29px;
  box-sizing: border-box;
}

.variationTitleArchived{
  color: var(--alert);
  /* color: var(--cardBack); */
  /* background-color: var(--alert); */
}

.variationPlusButton{
  background-color: transparent;
  border: 0px;
  padding: 0px;
  padding-right: var(--smallMargin);
  padding-left: var(--smallMargin);
  margin-left: calc(-1 * var(--smallMargin));
  color: var(--main); /* var(--cardBack); */
}

.variationPlusButton:hover {
  background-color: var(--hoverCard); /* var(--hoverMain); */
}

#variationFolderLearnContainer {
  position: relative;
  min-height: var(--uiElementMediumHeight);
  text-align: center;
}

#variationFolderLearn {
  position: absolute;
  bottom:  calc(var(--smallMargin)*(-1));
  width: calc(100% - 2*var(--mediumMargin));
  line-height: var(--uiElementMediumHeight);
}

#variationFolderLearn span {
  line-height: var(--uiElementMediumHeight);
}

.opsSeparator h3, #archivedVarsSeparator h3, .variationTitle h3, .variationTitleArchived h3{
  width: 100%;
}

.opsSeparator, #archivedVarsSeparator{
  width: 100%;  

  height: var(--uiElementMediumHeight);
  line-height: var(--uiElementMediumHeight);

  color: var(--main);

  margin: 0px;
  overflow: hidden;
  /*border-top: solid 1px var(--hoverBackColor);*/

  text-align: center;

  display: flex;
  align-items: center;

  text-transform: uppercase;
}

#opsSeparatorWhite, #opsSeparatorBlack{
  cursor: pointer;
  -webkit-tap-highlight-color: var(--tap);
}

.renameTextBox{
  margin-left: var(--mediumMargin);
  margin-right: var(--mediumMargin);
  width: calc(100% - 2 * var(--mediumMargin) - 12px); /* 12px = padding left+right */
}

#newVariGroupTextBox{
  margin-left: var(--mediumMargin);
  margin-right: var(--mediumMargin);
  width: calc(100% - 2 * var(--mediumMargin) - 12px); /* 12px = padding left+right */
}

#newVariNameTextBox, #renameVariTextbox{
  margin-left: var(--mediumMargin);
  margin-right: 0;
  width: calc(100% - 2 * var(--mediumMargin) - 10px - var(--uiElementHeight)); /* 10px = padding */
  border-top-left-radius: var(--borderRadius);
  /*border-bottom-left-radius: var(--borderRadius);*/
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#subNameSelector{
  margin-left: 0;
  /*margin-right: var(--mediumMargin);*/
  width: var(--uiElementHeight);

  height: calc(var(--uiElementSmallHeight) + 2px); /* 2px = textbox padding */
  position: relative;

  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  border: 0;
  border-left: var(--smallMargin) solid var(--modalBack);

  padding-left: 2px;

  outline: none;
  background-color: var(--onModalBack);
  color: var(--clickText);
  font-size: var(--textSize);
  font-family: var(--textFont);
}

.subNameOption, select:active, select:hover {
  outline: none;
}

#logoutButton{
  bottom: calc(var(--mediumMargin) + var(--uiElementMediumHeight));
  background-color: var(--alert);
  color: var(--back);
}

#userPageTabContainer{
  width: 100%;
  display: flex;
}

.userPageTab{
  display: block !important;
  width: 100%;
  height: calc(var(--uiElementMediumHeight) - 2px);
  line-height: calc(var(--uiElementMediumHeight) - 2px);
  text-align: center;
  border-top: 2px solid transparent;
}

.userPageTab span{
  line-height: calc(var(--uiElementMediumHeight) - 2px);
}

.userPageTabSelected{
  color: var(--main);
  background-color: var(--back);
  /*font-size: var(--bigTextSize);*/
  border-top: 2px solid var(--main);
}


.mailItem{
  padding-top: var(--smallMargin);
  padding-bottom: var(--smallMargin);
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  cursor: pointer;
  -webkit-tap-highlight-color: var(--tap);
}


.mailItemCloseButton{
  margin-left: var(--smallMargin);
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 100%;
  height: 100%;
}

.mailItemOpenButton{
  margin-left: 0px;
  margin-right: var(--smallMargin);
}

#notification{
  position: absolute;
  width: 100vw;
  height: var(--headerHeight);

  font-size: var(--bigTextSize);

  text-align: center;
  line-height: var(--headerHeight);

  cursor: pointer;

  transition: top .1s ease-out;
  will-change: top;

  overflow: hidden;
}

.notificationVisible{
  top: 0px;
}

.notificationHidden{
  top: calc(var(--headerHeight) * (-1));
}

.notificationNormal{
  color: var(--title);
  background-color: var(--headerBack);
}

.notificationImp{
  color: var(--back);
  background-color: var(--main);
}

.notificationError{
  color: var(--back);
  background-color: var(--alert);
}

#noCommentIcon{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
}

#doneButton{
  color: var(--back); 
  background-color: var(--main);
}

#profile{
  padding-top: var(--smallMargin);
}

#emptyInbox{
  width: 100%;
  height: 100%;
  background: url(/files/no_inbox.svg) center center / contain no-repeat;
}

#userPage{
  display: grid;
  grid-template-rows: 1fr var(--uiElementMediumHeight);
  width: 100%;
  height: 100%;
}

.profilePageTitle{
  margin-top: var(--mediumMargin);
  margin-bottom: var(--mediumMargin);
  color: var(--title);
  text-transform: uppercase;
}

@media (hover: hover) {
  .userPageTab:hover{
    background-color: var(--hoverBack);
  }
  #logoutButton:hover{
    background-color: var(--hoverAlert);
  }
  #opsSeparatorWhite:hover, #opsSeparatorBlack:hover{
    background-color: var(--hoverBack);
  }
  .mailItem:hover{
    background-color: var(--hoverBack);
  }
  .mailItemCloseButton:hover{
    color: var(--alert);
    background-color: transparent;
  }
}

.settingsSection{
  color: var(--text);
  font-weight: var(--textWeight);
  font-size: var(--textSize);
  margin-top: var(--smallMargin);
  margin-bottom: var(--smallMargin);
  margin-left: var(--largeMargin);
  margin-right: var(--mediumMargin);
}

.treeComment{
  font-size: var(--smallTextSize);
}

.treeMoveSan{
  font-weight: bold;
  color: var(--main);
}

.loginPageLabel{
  color: var(--main);
  margin-left: 0px;
  margin-bottom: 0px;
}

.opItemText p{
  font-weight: var(--textWeight);
}

#newVariationBox{
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--borderRadius);
  margin: var(--mediumMargin);
  border: 2px solid var(--onBack);
  border-style: dashed;

  min-height: var(--uiElementHeight); 
  overflow: hidden;

  font-size: var(--iconsFontSize);
  font-family: "Material Icons";
  color: var(--main);

  cursor: pointer;
  -webkit-tap-highlight-color: var(--tap);
}

#newVariationBox:hover{
  background-color: var(--main);
  border: 2px solid var(--main);
  color: var(--back);
}

#goodJobIconContainer, #trainingFinishedIconContainer{
  overflow: hidden;
  height: 110px;
}

#goodJobIcon, #trainingFinishedIcon{
  width: 100%;
  font-size: 75px !important;
  margin-top: var(--mediumMargin);
  padding-top: var(--mediumMargin);
  height: 50px;
}

#goodJobIcon{
  /* ANIMATION */
  position: relative;
  animation: goodJobAnimation 1s ease-in-out infinite;
  animation-delay: 0s;
  will-change: transform, top;
}

#trainingFinishedIcon{
  /* ANIMATION */
  position: relative;
  animation: trainingFinishedAnimation 1s ease-in-out infinite;
  animation-delay: 0s;
  will-change: transform, top;
}

#stockfishTable {
  width: 100%;
}

#stockfishTable button{
  width: 100%;
  height: var(--uiElementSmallHeight);
  line-height: var(--uiElementSmallHeight);
}

#stockfishTable tr, #stockfishTable td {
  padding: 0px;
}

.optionButtonsContainer{
  display: inline-block;
  margin-left: var(--smallMargin);
  border-left: var(--borderSize) solid var(--onBack);
  border-top: var(--borderSize) solid var(--onBack);
  border-bottom: var(--borderSize) solid var(--onBack);
  border-top-left-radius: var(--borderRadius);
  border-bottom-left-radius: var(--borderRadius);
}

.optionButtonsContainer:nth-child(1) {
  border-left: var(--borderSize) solid var(--onBack);
  border-top: var(--borderSize) solid var(--onBack);
  border-bottom: var(--borderSize) solid var(--onBack);
  border-top-left-radius: var(--borderRadius);
  border-bottom-left-radius: var(--borderRadius);
}

.optionButtonsContainer button {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.optionButtonsContainer:last-child {
  border-right: var(--borderSize) solid var(--onBack);
  border-top: var(--borderSize) solid var(--onBack);
  border-bottom: var(--borderSize) solid var(--onBack);
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}

@keyframes goodJobAnimation {
  0% {
    top: 0px;
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(-10deg);
  }
  50% {
    top: 20px;
  }
  75%{
    transform: rotate(10deg);
  }
  100% {
    top: 0px;
    transform: rotate(0deg);
  }
}

@keyframes trainingFinishedAnimation {
  0% {
    top: 0px;
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(-10deg);
  }
  50% {
    top: 20px;
  }
  75%{
    transform: rotate(10deg);
  }
  100% {
    top: 0px;
    transform: rotate(0deg);
  }
}