/* here you find the css attached to the elements mostly by their id */

#home_button {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0px;
  margin-left: var(--smallMargin);
}

#opsListPage, #openingPage {
  overflow-y: auto;
  overflow-x: hidden;
}

#opsListPage{
  padding-bottom: calc(var(--uiElementHeight) + var(--mediumMargin) + var(--smallMargin));
}

#openingPage{
  padding-bottom: calc(2*var(--uiElementHeight) + 2*var(--mediumMargin) + var(--smallMargin));
}

#newOpButton, #newVariButton {
  position: absolute;
  margin: 0px;
  padding: 0px;
  right: var(--mediumMargin);
  bottom: var(--mediumMargin);
  height: var(--uiElementHeight);
  width: var(--uiElementHeight);
  text-align: center;
  line-height: var(--uiElementHeight);
  font-size: 30px; /* var(--iconsFontSize) */
}

.textBox{
  margin-top: var(--smallMargin);
  padding-left: 10px;
  border: 0px;

  height: var(--uiElementSmallHeight);
  width: calc(100% - 10px); /*10px = padding-left;*/
  /*max-width: 400px;*/

  background-color: var(--hoverBackColorNonAlpha);
  color: var(--primaryText);
  font-size: var(--textSize);
  font-family: inherit;
  border-radius: var(--borderRadius);
}

.checkBox{
  width: calc(var(--uiElementSmallHeight) - 2 * var(--smallMargin));
  height: calc(var(--uiElementSmallHeight) - 2 * var(--smallMargin));
  background-color: var(--hoverBackColorNonAlpha);
  outline: var(--smallMargin) solid  var(--hoverBackColorNonAlpha);
  margin: var(--smallMargin);
}

.checkBox.checked{
  background-color: var(--primaryText);
}

.checkBoxContainer{
  display: flex;
  margin-top: var(--smallMargin);
  margin-bottom: var(--smallMargin);
  line-height: var(--uiElementSmallHeight);
}


#newOpPageBody, #loginPageBody{
  margin-left: var(--mediumMargin);
  margin-right: var(--mediumMargin);
}


#headerChessTutorLabel {
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: 23px;
  margin-left: 0px;
  font-size: 15px;
}

#header{
  /* GRID */
  grid-area: header;
  /* COLORS */
  background-color: var(--headerBack);
  /* CONTENT */
  vertical-align: middle;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "headerLeftSide headerRightSide";
}

#headerButton{
  margin-top: calc((var(--headerHeight) - var(--uiElementHeight)) / 2); /* this shouldn't be necessary because the header has vertical-align: middle but really it's needed*/
  margin-right: calc((var(--headerHeight) - var(--uiElementHeight)) / 2);
}

#headerLeftSide{
  grid-area: headerLeftSide;
  display: -webkit-flex; /* Safari */
  display: flex;
}

#headerRightSide{
  grid-area: headerRightSide;
}

#playVarsButton {
  position: absolute;
  margin: 0px;
  padding: 0px;
  right: var(--mediumMargin);
  bottom: calc(var(--uiElementHeight) + 2 * var(--mediumMargin));
  height: var(--uiElementHeight);
  width: var(--uiElementHeight);
  text-align: center;
  line-height: var(--uiElementHeight);
  font-size: var(--iconsFontSize);
}

#title{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}


.variationFolder{
  width: 100%;

  height: var(--uiElementMediumHeight);
  line-height: var(--uiElementMediumHeight);

  color: var(--impText);

  margin: 0px;
  /*border-top: solid 1px var(--hoverBackColor);*/

  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;

  display: flex;
  align-items: center;

  line-height: 1;
}

.opsSeparator h3, #archivedVarsSeparator h3, .variationFolder h3{
  width: 100%;
}

.opsSeparator, #archivedVarsSeparator{
  width: 100%;  

  height: var(--uiElementMediumHeight);
  line-height: var(--uiElementMediumHeight);

  color: var(--impText);

  margin: 0px;
  overflow: hidden;
  /*border-top: solid 1px var(--hoverBackColor);*/

  text-align: center;

  display: flex;
  align-items: center;

  text-transform: uppercase;
}

#opsSeparatorWhite, #opsSeparatorBlack{
  cursor: pointer;
}

.renameTextBox{
  margin-left: var(--mediumMargin);
  margin-right: var(--mediumMargin);
  width: calc(100% - 2 * var(--mediumMargin) - 12px); /* 12px = padding left+right */
}

#newVariNameTextBox, #renameVariTextbox{
  margin-left: var(--mediumMargin);
  margin-right: 0;
  width: calc(100% - 2 * var(--mediumMargin) - 10px - var(--uiElementHeight)); /* 10px = padding */
  border-top-left-radius: var(--borderRadius);
  border-bottom-left-radius: var(--borderRadius);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#subNameSelector{
  margin-left: 0;
  /*margin-right: var(--mediumMargin);*/
  width: var(--uiElementHeight);

  height: calc(var(--uiElementSmallHeight) + 2px); /* 2px = textbox padding */
  position: relative;

  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  border: 0;
  border-left: var(--smallMargin) solid var(--modalBack);

  padding-left: 2px;

  outline: none;
  background-color: var(--hoverBackColorNonAlpha);
  color: var(--buttonText);
  font-size: var(--textSize);
  font-family: var(--textFont);
}

.subNameOption, select:active, select:hover {
  outline: none;
}


#opsSeparatorWhite, #opsSeparatorBlack{
  -webkit-tap-highlight-color: var(--hoverBackColor)
}

#logoutButton{
  bottom: calc(var(--mediumMargin) + var(--uiElementHeight));
  background-color: var(--alertColor);
  color: var(--backColor);
}

#userPageTabContainer{
  width: 100%;
  display: flex;
}

.userPageTab{
  display: block !important;
  width: 100%;
  height: calc(var(--uiElementMediumHeight) - 2px);
  line-height: calc(var(--uiElementMediumHeight) - 2px);
  text-align: center;
  border-top: 2px solid transparent;
}

.userPageTab span{
  line-height: calc(var(--uiElementMediumHeight) - 2px);
}

.userPageTabSelected{
  color: var(--impText);
  background-color: var(--backColor);
  /*font-size: var(--mediumTextSize);*/
  border-top: 2px solid var(--impText);
}


.mailItem{
  padding-top: var(--smallMargin);
  padding-bottom: var(--smallMargin);
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  cursor: pointer;
  -webkit-tap-highlight-color: var(--hoverBackColor);
}


.mailItemCloseButton{
  margin-left: var(--smallMargin);
  margin-right: 0px;
}

.mailItemOpenButton{
  margin-left: 0px;
  margin-right: var(--smallMargin);
}

#notification{
  position: absolute;
  width: 100vw;
  height: var(--headerHeight);

  font-size: var(--mediumTextSize);

  text-align: center;
  line-height: var(--headerHeight);

  cursor: pointer;

  transition: top .1s ease-out;
  will-change: top;

  overflow: hidden;
}

.notificationVisible{
  top: 0px;
}

.notificationHidden{
  top: calc(var(--headerHeight) * (-1));
}

.notificationNormal{
  color: var(--primaryText);
  background-color: var(--headerBack);
}

.notificationImp{
  color: var(--backColor);
  background-color: var(--impText);
}

.notificationError{
  color: var(--backColor);
  background-color: var(--alertColor);
}

#noCommentIcon{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
}

#doneButton{
  color: var(--impButtonText); 
  background-color: var(--impButtonBack);
}

#profile{
  padding-top: var(--smallMargin);
}

#emptyInbox{
  width: 100%;
  height: 100%;
  background: url(/files/no_inbox.svg) center center / contain no-repeat;
}

#userPage{
  display: grid;
  grid-template-rows: 1fr var(--uiElementMediumHeight);
  width: 100%;
  height: 100%;
}

.profilePageTitle{
  margin-top: var(--mediumMargin);
  margin-bottom: var(--mediumMargin);
  color: var(--primaryText);
}

@media (hover: hover) {
  .userPageTab:hover{
    background-color: var(--hoverBackColor);
  }
  #logoutButton:hover{
    background-color: var(--hoverAlertColor);
  }
  #opsSeparatorWhite:hover, #opsSeparatorBlack:hover{
    background-color: var(--hoverBackColor);
  }
  .mailItem:hover{
    background-color: var(--hoverBackColor);
  }
  .mailItemCloseButton:hover{
    color: var(--alertColor);
    background-color: transparent;
  }
}