/* here you find the css attached to the elements mostly by their id */

#home_button {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0px;
  margin-left: 0px;
}

#opsListPage, #openingPage {
  overflow-y: auto;
  overflow-x: hidden;
}

#newOpButton, #newVariButton {
  position: absolute;
  margin: 0px;
  padding: 0px;
  right: var(--mediumMargin);
  bottom: var(--mediumMargin);
  height: var(--uiElementHeight);
  width: var(--uiElementHeight);
  text-align: center;
  line-height: var(--uiElementHeight);
  font-size: var(--iconsFontSize);
}

#boardContainer {
  position: relative; /* necessary for the pieces */
  grid-area: boardContainer;
  margin-bottom: -4px;
}

#boardSVG {
  width: 100%;
  /*
  max-height: calc(100vh - var(--headerHeight) - var(--uiElementHeight) - 80px);
  max-width: calc(100vh - var(--headerHeight) - var(--uiElementHeight) - 80px);
  */
}

#touchCircle {
  width: 18.75%;
  height: 18.75%;
  margin: 0px;
  position: absolute;
  will-change: transform;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.selection {
  width: 12.5%;
  position: absolute;
  opacity: 0.6;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.pieceSVG {
  width: 12.5%;
  position: absolute;
  transition: transform, top, left;
  transition: 0.15s, 0.15s, 0.15s;
  will-change: transform, top, left;
  left: 0px;
  top: 0px;
}

.pieceSVG.noAnimationPiece{
  -webkit-transition-property: none !important;
  -moz-transition-property: none !important;
  -o-transition-property: none !important;
  transition-property: none !important;
  z-index: 2;
}

@media (orientation: portrait) {
  #boardGrid{
    display: grid;
    width: 100%;
    height:  calc(100vh - var(--headerHeight));
    max-width: calc(100vh - var(--headerHeight) - var(--uiElementHeight) - 80px);
    grid-template-rows: auto var(--uiElementHeight) 1fr;
    grid-template-areas: "boardContainer" "boardUI" "boardData";
  }
}

@media (orientation: landscape) {
  #boardGrid{
    display: grid;
    width: 100%;
    height: calc(100vh - var(--headerHeight));
    grid-template-rows: 1fr var(--uiElementHeight);
    grid-template-columns: calc(100vh - var(--headerHeight) - var(--uiElementHeight)) 1fr;
    grid-template-areas: "boardContainer boardData" "boardUI boardData";
  }
}

#boardUI{
  min-height: var(--uiElementHeight);
  width: 100%;
  /*background-color: rgba(0, 0, 0, 0.15); add to make the gap between boardContainer and boardUI visible*/
  grid-area: boardUI;
  display: flex;
}

#boardData{
  grid-area: boardData;
  padding-left: var(--mediumMargin);
  padding-right: var(--mediumMargin);
  padding-top: var(--smallMargin);
  padding-bottom: var(--smallMargin);
  overflow-y: auto;
  font-size: var(--smallTextSize);
  text-align: justify;
  white-space: pre-wrap;
}

.boardButton{
  margin: 0px !important; /* overwrite simpleButton */
  flex-grow: 1;
  /* TEXT */
  font-family: "Material Icons" !important; /* overwrite simpleButton */
  font-size: var(--iconsFontSize) !important; /* overwrite simpleButton */
  text-align: center;
  vertical-align: middle;
  line-height: var(--uiElementHeight); /* = height*/
}

.textBox{
  margin-top: var(--smallMargin);
  padding-left: 10px;
  border: 0px;
  height: var(--uiElementSmallHeight);
  width: calc(100% - 10px); /*10px = padding-left;*/
  background-color: var(--makeDarkerColor);
  color: var(--textColorHighlighted);
  font-size: var(--textSize);
  font-family: inherit;
}

.checkBox{
  width: var(--uiElementSmallHeight);
  height: var(--uiElementSmallHeight);
  background-color: var(--makeDarkerColor);
}

.checkBox.checked{
  background-color: var(--textColorHighlighted);
}

.checkBoxContainer{
  display: flex;
  margin-top: var(--smallMargin);
  line-height: var(--uiElementSmallHeight);
}

.hMenuButton{
  margin: 0px !important; /* overwrite simpleButton */
  flex-grow: 1;
  /* TEXT */
  color: var(--buttonColor) !important; /* overwrite simpleButton */
  font-family: "Material Icons" !important; /* overwrite simpleButton */
  font-size: var(--iconsFontSize) !important; /* overwrite simpleButton */
  text-align: center;
  vertical-align: middle;
  height: calc(var(--uiElementHeight) + var(--mediumMargin)) !important; /* overwrite simpleButton */
  line-height: calc(var(--uiElementHeight) + var(--mediumMargin)) !important; /* overwrite simpleButton */ /* = height*/
}

.promotionButton{
  width: 100%;
}


#newOpPageBody, #loginPageBody{
  margin-left: var(--mediumMargin);
  margin-right: var(--mediumMargin);
}


#headerChessTutorLabel {
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: 23px;
  margin-left: 0px;
  font-size: 15px;
}

#header{
  /* GRID */
  grid-area: header;
  /* COLORS */
  background-color: var(--headerBackColor);
  /* SPACES */
  margin-left: var(--smallMargin);
  /* CONTENT */
  vertical-align: middle;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "headerLeftSide headerRightSide";
}

#headerButton{
  margin-top: calc((var(--headerHeight) - var(--uiElementHeight)) / 2); /* this shouldn't be necessary because the header has vertical-align: middle but really it's needed*/
  margin-right: calc((var(--headerHeight) - var(--uiElementHeight)) / 2);
}

#headerLeftSide{
  grid-area: headerLeftSide;
  display: -webkit-flex; /* Safari */
  display: flex;
}

#headerRightSide{
  grid-area: headerRightSide;
}

#playVarsButton {
  position: absolute;
  margin: 0px;
  padding: 0px;
  right: var(--mediumMargin);
  bottom: calc(var(--uiElementHeight) + 2 * var(--mediumMargin));
  height: var(--uiElementHeight);
  width: var(--uiElementHeight);
  text-align: center;
  line-height: var(--uiElementHeight);
  font-size: var(--iconsFontSize);
}

#opsSeparator, #archivedVarsSeparator{
  width: 100%;
  border-bottom: solid 5px var(--makeDarkerColor);
}

.renameTextBox{
  margin-left: var(--mediumMargin);
  margin-right: var(--mediumMargin);
  width: calc(100% - 2 * var(--mediumMargin) - 10px); /* 10px = padding */
}