.modal{
    position: fixed;
    left:0px;
    top:0px;
    width: 100vw;
    height: 100vh;
    /*transition: background-color 0.1s;*/
    z-index: 4;
    overflow-y: hidden;
}

.modalContent{
    width: 100%;
    max-width: 500px;
    min-height: 200px;
    max-height: 60vh;
    overflow-y: hidden;

    display: grid;
    grid-template-rows: 1fr auto;

    margin-left: auto;
    margin-right: auto;
    border-radius: var(--borderRadius);

    background-color: var(--modalBack);

    /* SHADOWS */
    -moz-box-shadow: 2px 3px 4px rgba(0, 0, 0,0.25);
    -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, .25);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, .25);
}

.tallModalContent{
    min-height: 250px;
}


@media screen and (max-height: 350px) {
    .modalContent{
        /* small windows */
        height: 100vh;
        margin-top: 0;
        margin-bottom: 0;
        min-height: 0;
        max-height: unset;
        border-radius: 0;
    }
}

@media screen and (min-height: 351px) {
    .modalContent{
        /* tall window */
        margin-top: 20vh;
        height: auto;
    }
}

.helpModalButton, .promotionButton{
    flex-grow: 1;
    height: unset !important;
    margin: 0px !important;
    min-height: var(--uiElementHeight);
}

.promotionPiece{
    vertical-align: middle;
}

.helpModalContent, #promotionModalContent{ 
    margin-top: 20vh;
    height: 100%;
    max-height: 60vh;
    width: 100%;
    background-color: var(--backColor);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    border-radius: var(--borderRadius);

    display: flex;
    flex-direction: column;
}

.insideModal{
    width: 100%;
    padding-top: calc(var(--mediumMargin) - var(--smallMargin));
    overflow-y: auto;
    padding-bottom: var(--smallMargin);
}

.insideCommentModal{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: "commentBoxModal" "commentCheckBox";
}

.commentTextBox{
    grid-area: "commentBoxModal";
    height: calc(100% - 20px - var(--smallMargin));
    width: calc(100% - 20px - var(--mediumMargin) * 2);

    margin-top: var(--smallMargin);
    margin-left: var(--mediumMargin);
    margin-right: var(--mediumMargin);
    padding: 10px;
    border: 0px;
    border: 0; 
    border-radius: 0;

    background-color: var(--hoverBackColor);
    color: var(--primaryText);
    font-size: var(--textSize);
    font-family: inherit;
    resize: none;
    outline: none;
    outline-style: none; /* Internet Explorer  */
}

.commentCheckBox{
    grid-template-areas: "commentCheckBox";
}

.hMenuContent{
    background-color: var(--modalBack);

    position: fixed;
    left:0px;
    bottom:0px;
    z-index: 3;

    width: 100vw;

    /*display: flex;*/
    overflow-x: hidden; /* avoids buttons to display in the rounded corner area */

    border-radius: var(--borderRadius) var(--borderRadius) 0px 0px;
    
    transition-property: margin-bottom;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955), ease-in-out;
    transition-duration: .2s, .2s;
    will-change: margin-bottom;

    max-height: 80vh;
    overflow-y: auto;
}

.hMenuButton{
    width: 100%;
    margin: 0px !important; /* overwrite simpleButton */
    padding: 0px !important; /* overwrite simpleButton */
    height: 100% !important;
    /* BORDERS */
    border: 0px;
    border-radius: 0px;
}

.hMenuButtonContent{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "hMenuButtonIcon hMenuButtonLabel";
    width: 100%;
    height: var(--uiElementHeight);
    z-index: 10;
}

.hMenuButtonIcon{
    grid-area: hMenuButtonIcon;
    font-family: "Material Icons" !important; /* overwrite simpleButton */
    font-size: calc(var(--iconsFontSize) * 0.9) !important; /* overwrite simpleButton */
    width: calc(var(--uiElementHeight));
    margin-left: var(--mediumMargin);
    margin-right: var(--mediumMargin);
    height: var(--uiElementHeight);
    color: var(--secondaryText);
}

.hMenuButtonLabel{
    grid-area: hMenuButtonLabel;
    text-align: left;
    line-height: var(--uiElementHeight);
    /* TEXT */
    color: var(--primaryText);
    font-family: var(--textFont);
    font-weight: var(--textWeight);
    font-size: var(--smallTextSize);
}

.hMenuBack{
    position: fixed;
    left:0px;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    transition-property: background-color;
    transition-duration: 1s;
    will-change: background-color;
}

.modalButton{
    margin: 0px;
    width: calc(var(--uiElementHeight) + 2*var(--mediumMargin));
    padding: 0 !important;
    margin: 0 !important;
    float: right;
}

.modalBackButton{
    margin: 0px;
    width: calc(var(--uiElementHeight) + 2*var(--mediumMargin));
    padding: 0 !important;
    margin: 0 !important;
    float: left;
}

.modalButtons{
    margin-top: var(--smallMargin);
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.newSendButton{
    padding: 0 !important;
    width: var(--uiElementHeight);
    height: var(--uiElementHeight);
    line-height: var(--uiElementHeight);
}

#sendTextbox{
    margin-left: var(--mediumMargin);
    margin-right: var(--smallMargin);
    width: calc(100% - 2 * var(--mediumMargin) - 10px - var(--uiElementHeight) - var(--smallMargin)); /* 10px = padding */
    margin-top: calc((var(--uiElementHeight) - var(--uiElementSmallHeight)) / 2);
}

#sendNamesList{
    width: 100%;
    display: grid;
}

.sendNameItem{
    display: grid;
    grid-template-columns: auto 1fr;
    line-height: var(--uiElementHeight);
    margin-left: var(--mediumMargin);
    margin-right: var(--mediumMargin);
}

.sendNameLabel{
    text-overflow: ellipsis;
    line-height: var(--uiElementHeight);
}

#loadingScreen{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-image: url("/files/intro.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
}
  
#loadingScreenBottom{
    display: table-cell;
    vertical-align: bottom;
    font-size: var(--smallTextSize);
    padding-left: var(--smallMargin);
    padding-bottom: var(--smallMargin);
    color:  var(--secondaryText);
    opacity: .5;
}